.services {
  display: flex;
  width: 100%;
  padding: 100px 20px;
  justify-content: space-evenly;
}

.service {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 30px;
}

.first-column {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}

.second-column {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}

.first-column .desc-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 70%;
}

.second-column .desc-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}

.desc-text h3 {
  line-height: 1.1;
  letter-spacing: 0px;
}

.desc-text p {
  font-weight: 300;
  font-style: normal;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px;
  width: 60%;
}

.second-column .desc-image {
  margin-top: 20px;
}

.desc-image {
  width: 30%;
}

.bits img {
  margin-top: 50px;
}

.desc-image img {
  max-width: 100%;
  align-items: flex-end;
  margin-left: 30px;
}
