.steps {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: url(../bg-img/getstarted.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 120px 0px;
  color: #ffffff;
}

.steps h1 {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #9b9b9b;
  font-size: 24px;
  line-height: 2.2;
  letter-spacing: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps h3 {
  font-weight: 700;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: flex;
  color: #fab915;
  border: 2px solid #fab915;
  width: 8%;
}

.simple-steps {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.step-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.step-guide p {
  font-weight: 300;
  font-style: normal;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px;
  width: 80%;
  text-align: center;
}
