.copyright {
  background: rgb(17, 23, 36);
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.copyright p {
  display: flex;
  font-size: 0.8rem;
  opacity: 0.9;
}
